-e git+https://github.com/pradhanishan/bi-sales-simulator-spark.git@6f765d0f5b18c2240e56003f6a25d837d1fd7d3b#egg=bi.sales.simulator.spark
delta-spark==4.0.0
importlib_metadata==8.7.0
py4j==0.10.9.9
pyspark==4.0.0
python-dotenv==1.1.1
zipp==3.23.0
